@model IEnumerable<ProyectoBuses.Models.cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Aqui Puedes crear, editar y eliminar cliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rut_cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.rut_cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rut_cliente })
        </td>
    </tr>
}

</table>
