@model ProyectoBuses.Models.bus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marca_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destino.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destino.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_bus }) |
    @Html.ActionLink("Back to List", "Index")
</p>
